.loader {
    /* background-color: #1d2430; */
    background-color:white;
    height: 100px;
    width: 200px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    /* background-color:#1d2430; */
    background-color: white;
    padding: 0;
    margin: 0;
}

.tri1, .tri2, .tri3, .tri4, .tri5 {
    height: 0;
    width: 0;
    border-bottom: 100px solid #4968fc;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position:relative;
    animation: load 0.8s infinite;
    transform-origin: bottom;
}

@keyframes load {
    50%{
        transform: scaleY(0);
    }
}

.tri2 {
    border-bottom: 100px solid #4581fa;
    bottom: 100px;
    left: 40px;
    animation-delay:0.1s;
}

.tri3 {
    border-bottom: 100px solid #4395f8;
    bottom: 200px;
    left: 80px;
    animation-delay:0.2s;
}

.tri4 {
    border-bottom: 100px solid #3dc2f5;
    bottom: 300px;
    left: 120px;
    animation-delay:0.3s;
}

.tri5 {
    border-bottom: 100px solid #38e2f1;
    bottom: 400px;
    left: 160px;
    animation-delay:0.4s;
}

.text {
    
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 120px;
    width: 100%;
    background: linear-gradient(90deg, #4968fc, #4581fa, #4395f8, #3dc2f5, #38e2f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 1s ease infinite;
    background-size: 300%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}